<h1>Usuários Git</h1>

<div *ngIf="model">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Selecionar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of model">
        <th scope="row"><a [routerLink]="[user.login]" >{{ user.id }}</a></th>
        <td>{{ user.login }} </td>
        <td> <a [routerLink]="[user.login]" ><i class="fas fa-info-circle"></i></a> </td>
      </tr>
    </tbody>
  </table>
</div>
